* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(./Images//world-11047.jpg);
  background-size: 1360px;
  
} 

.container-global-maior {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.629);
  /* position: absolute; */
  
}
.container-global {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  
}

.inputs {
  display: flex;
  align-items: center;
}

.inputText {
  width: 300px;
  height: 30px;
  border-radius: 1em 0em 0em 1em;
  padding-left: 10px;
  border: none;

}
.inputBtn {
  width: 180px;
  height: 31px;
  border-radius: 0em 1.1em 1.1em 0em;
  background-color: rgb(218, 165, 32);
  cursor: pointer;
 
}
.inputBtn:active{
  background-color: rgba(215, 163, 31, 0.827);
 }


.title {
  display: flex;
  font-size: 50px;
  justify-content: center;
  color: rgb(218, 165, 32);
  padding-bottom: 50px;
  padding-top: 150px;
}

.countryname {
  color: gold;
}
.section {
  display: flex;
  align-items: center;
  width: 50vh;
  justify-content: space-evenly;
  margin-top: 30px;
}
.countryname {
  font-size: 20px;
  color: rgb(218, 141, 32);
}

.informations {
  color: rgb(218, 165, 32);
}
.latitudes {
  display: flex;
  width: 30vh;
  justify-content: space-between;
}

.footer {
  height: 8vh;
  background-color: rgb(112, 22, 30);
  color : goldenrod;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

